*{
  box-sizing: border-box;
}
.container{

  .row{

    &::before,
    &::after{
      @extend %clearfix;
    }

    [class*=col-]{
      float: left;
      padding:1%;
      min-height: 1px;
      width: 100%;
    }

    @media (min-width: 500px) {
       @for $i from 1 through 12 {
        .col-#{$i} {
          width: (100% / 12) * $i;
        }
      }
    }

  }


}
