@import "grid";
@import "variables";

*{
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Rationale', sans-serif;
}
.border{
  border:1px solid black;
}
.main-menu{
  background: rgba(255, 255, 255,0.6);
  margin-top: 30px;
  position: fixed;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 2;
  li{
    display: inline-block;
    background: rgba(236, 240, 241,0.9);
    margin-left: 10px;
    padding:10px 5px;
    opacity: 0.9;
    font-weight: 700;
    &:hover{
      border: 1px solid black;
      background:  rgba(236, 240, 241,0.6);
      cursor: pointer;
      font-weight: 700;
    }
  }
}
#main{
  background-image: url("../images/cat.jpg");
  filter: brightness(0.8);
  height: 100vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .logo{
    width: 480px;
    height: 166px;
    margin-bottom: 60px;
    filter: contrast(400%);
  }
  p{
    font-size: 3em;
    position: absolute;
    color: rgba(236, 240, 241,1.0);
    padding-bottom: 5px;
    }
}


.parallax_section{
  background-image: url("../images/plan.jpg");
  background-attachment: fixed;
    background-position: -200px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24vh;
    max-height: 800px;
    min-height: 200px;
}
#about{
  background: rgba(236, 240, 241,1.0);
  height: 100vh;

  .col-6{
    height: 250px;
    h3{
      padding-left: 30px;
      font-size: 2.5rem;
    }
    p{
      padding: 30px;
      text-align: justify;
    }
    .about-img-top{
      background-image: url("../images/poziomica.jpg");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);
    }
    .about-img-bot{
      background-image: url("../images/build.jpg");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 -150px;
      filter: saturate(150%);
    }
  }
}
#work{
  background-image: url("../images/dzwig.jpg");
  height: 600px;
  background-size: cover;


  .col-12{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    background: rgba(0, 0, 0,0.3);
    border: 1px solid black;
  }
  .col-4{
    border: 1px solid black;
    background: rgba(0, 0, 0,0.3);
    color: white;
    line-height: 2rem;
    margin-top: 100px;
  }
}
#slide-2{
  background-image: url("../images/zuraw.jpg");
}
#contact{
  background: #e6eae3;
  height: 500px;
  .col-12{
    text-align: center;
    font-size: 2.5rem;
  }
  .col-3{
    padding: 40px;
    font-size: 1.2rem;
  }
}
#foto-section{
  padding-bottom: 30px;
  h3{
  font-size: 2.5rem;
  text-align: center;
  }
.foto{

  width: 800px;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid black;

  .foto-slider{
    display: block;
    width: 6000px;
    height: 450px;
    margin: 0;
    padding: 0;
    .slide{
      -webkit-filter: saturate(300%);
      -moz-filter: saturate(300%);
      -o-filter: saturate(300%);
      -ms-filter: saturate(300%);
      filter: saturate(300%);
      height: 450px;
      width: 800px;
      float: left;
      list-style-type: none;
    }
  }
}
    .row{
      background: rgba(236, 240, 241,1.0)
      // height: 10px;
    }
.mini-foto{
  .col-2{
    img{
    &:hover{
      opacity: 0.6;
      border: 1px solid black;
    }
    }
  }
  }

}
